@model IEnumerable<SimpleSchoolSystem.ServicesLayer.Dto.Instructor.GetInstructor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorId)
            </th><th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.InstructorId">Details</a> |
                    <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
